header{
  background: #4754DE;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 1%;
  margin: 0%;
}
.button1{
  background: #4754DE;
  font-weight: 550;
  padding: 1%;
  margin-left: auto;
  display: block;
  color: #fff;
  border: 1px solid #4754DE;
  border-radius: 5px;
  margin-top: 2%;
}
.button2{
  background: #4754DE;
  padding: 2%;
  width: 100%;
  font-weight: 550;
  display: block;
  color: #fff;
  border: 1px solid #4754DE;
  border-radius: 5px;
  margin-top: 2%;

   }
   .parent{
     background: #fff;
     width: 800px;
     margin: 1% auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
   }
   .parent>div{
     width: 31.3%;
     text-align: center;
     padding: 1%;
     box-shadow: 3px 3px 3px #ddd;

   }
   img{
     width: 200px;
     height: auto;
   }
h4{
  color: #151515;
}
@media only screen and (min-width:320px) and (max-width:767px){
  .parent{
    background: #fff;
    width: 800px;
    /*margin: 1% auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .parent>div{
    width: 98%;
    text-align: center;
    padding: 1%;
    box-shadow: 3px 3px 3px #ddd;

  }

  *{
    font-size: 25px;
  }
}
@media only screen and (min-width:768px) and (max-width:1599px){
  .parent{
    background: #fff;
    width: 100%;
    /*margin: 1% auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .parent>div{
    width: 48%;
    text-align: center;
    padding: 1%;
    box-shadow: 3px 3px 3px #ddd;

  }

  *{
    font-size: 25px;
  }
}
}
